* {
    font-family: 'Asap Condensed', sans-serif;
}

html, body, #mainContainer {
    margin: 0;
    max-height: 100%;
    background-color: #000000;
    color: #ffffff;
}

header {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url(https://cdn.vox-cdn.com/uploads/chorus_asset/file/9982475/VER_CES18_MH_4.0.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #333333;
}

header svg {
    width: 35%;
}

#subtitle {
    width: 35%;
}

#subtitle h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

#mainContainer {
    width: 95%;
    margin: 0 auto;
}

#feedContainer {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
    padding-left: 2px;
    padding-right: 2px;
}

#feedHeader {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #333333;
}

.feedHeading {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.feedHeading img {
    height: 25px;
    margin-right: 10px;
}

.feedHeading h3 {
    text-transform: uppercase;
}

.feed {
    height: 100vh;
    overflow: scroll;
}

#tweetContainer {
    display: flex;
    flex-direction: column;
}

#tweetContainer .topTweetInfo {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}

.topTweetInfo img {
    height: 35px;
    margin-right: 10px;
}

.tweetMedia {
    padding-left: 10px;
    margin-bottom: 10px;
}

.tweetInfo {
    padding-left: 10px;
    font-size: 0.85em;
}

/*Twitter*/
#tweetContainer, #twitterHeading {
    width: 25%;
}

/*News*/
#newsContainer, #newsHeading {
    width: 50%;
    padding-left: 2px;
    padding-right: 2px;
}

/*YouTube*/
#youtubeContainer, #youtubeHeading {
    width: 25%;
}

.feedTile {
    margin-top: 2px;
    background-color: #000000;
    padding-bottom: 15px;
}

.rowTile {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.colTile {
    /*display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;*/
}


.newsTile img {
    width: 100%;
}

.newsTile .tileText {
    margin-top: 15px;
    width: 45%;
}

.newsTile a {
    width: 45%;
    font-size: 2em;
    margin-right: 20px;
}

.newsTile .authInfo {
    margin-top: 15px;
}

.youtubeTile {
    padding-left: 10px;
}

.youtubeTile img {
    margin-right: 10px;
}

.youtubeTile .tileText {
    margin-top: 10px;
}

.youtubeTile .pubInfo {
    margin-top: 5px;
    font-size: 0.85em;
}

/*MISC*/
/*Disable scrollBars:*/
::-webkit-scrollbar { 
    display: none; 
}

a, a:hover, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.pink, .pinkable:hover {
    color: #e5127d;
}